- if widget.links.present?
  %ul.link-list
    - for link in widget.links
      - link_obj = link.obj
      %li
        = link_to link.title, link_obj.download_original, class: "download", name: link_obj.file_type
        %span= number_to_human_size(link_obj.file_size)
- else
  %div
    %p (Hint: Add download links. Click on the Scrivito icon to the right to open widget properties.)